[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
pandas = "*"
mapbox = "*"
tqdm = "*"
ratelimit = "*"
backoff = "*"

[requires]
python_version = "3.7"
